@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color:rgb(150, 149, 149) ;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background-color: rgb(74, 126, 126);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
}

header > h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkslategray;
    margin-bottom: 20px;
    font-size: 3em;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.438);
    font-weight: normal;
}

nav {
    background-color: rgb(247, 220, 229);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.363);
}

nav > a {
    color: rgb(116, 105, 109);
    padding: 10;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color:lavender ;
    color: var(--cor5);
}

main {
    background-color: white;
    min-width: 300px; 
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: rgb(62, 112, 62);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.8em;
}

   p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
    }

main img {
    width: 100%
}

footer {
    background-color: green;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: grey;
}